.roboto{
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: sevenSegment;
    src: url(seven-segment.ttf);
}

.counter-style{
   font-family: sevenSegment;
   font-size: 4em;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.botao-login {
    background: linear-gradient(60deg, #ef7627, #f57c00);
    border: none;
    color: white;
    margin-top: 8px;
    padding: 12px 40px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4em;
    font-weight: 700;
    font-family: "Roboto Slab","Times New Roman",serif;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
  }

.botao-login:hover {opacity: 0.8}