<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='sites/img/preguiça-meditando2.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='sites/img/preguiça-meditando2.png') }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    FiFit Dashboard
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='dashboard/css/material-dashboard.css') }}?v=2.1.2" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange" data-background-color="orange" data-image="{{ url_for("static",filename="dashboard/img/sidebar-1.png") }}">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="{{ url_for("home.index") }}" class="simple-text logo-mini"></a>
        <a href="http://www.fifit.com.br" class="simple-text logo-normal">
          <a href="{{ url_for("home.index") }}">
            <img src="{{ url_for('static', filename='sites/img/logo-fifit5.png') }}"
            width = 150
            style = "display: block; margin-left: auto; margin-right: auto; margin-bottom: 1rem;"></a>
        </a>
      </div>

      <div class="sidebar-wrapper">
        <div class="user">
          <div class="user-info">
            <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
                {{ current_user.nome }}
              </span>
            </a>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item active ">
            <a class="nav-link" href="{{ url_for("dash.dashboard") }}">
              <i class="material-icons">dashboard</i>
              <p> Dashboard </p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" data-toggle="collapse" href="/">
              <i class="material-icons">grid_on</i>
              <p> Home
              </p>
            </a>
          </li>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
          
            <ul class="navbar-nav">
             
              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for("auth.logout") }}">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card ">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">verified</i>
                    </div>
                    <h4 class="card-title">Top 5 usuários mais FiFits</h4>
                  </div>
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="table-responsive table-sales">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <div class="flag"><b>Posição</b></div>
                                </td>
                                <td class="text-right"><b>Nome</b></td>
                                <td class="text-right"><b>Pontos</b></td>
                              </tr>
                            {% for usuario in melhores_usuarios %}
                              <tr>
                                <td>
                                  <div class="flag">{{ usuario[0] + 1 }}</div>
                                </td>
                                <td class="text-right">{{ usuario[1] }}</td>
                                <td class="text-right">{{ usuario[2] }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">gpp_bad</i>
                    </div>
                    <h4 class="card-title">Top 5 DCNTs mais recorrentes</h4>
                  </div>

                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="table-responsive table-sales">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td>
                                  <div class="flag"><b>Posição</b></div>
                                </td>
                                <td class="text-right"><b>Nome</b></td>
                                <td class="text-right"><b>Quantidade</b></td>
                              </tr>
                            {% for prob in doencas_mais_comuns %}
                              <tr>
                                <td>
                                  <div class="flag">{{ prob[0] + 1 }}</div>
                                </td>
                                <td class="text-right">{{ prob[1] }}</td>
                                <td class="text-right">{{ prob[2] }}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">groups</i>
                    </div>
                    <p class="card-category">Colaboradores Cadastrados</p>
                    <h3 class="card-title">{{ quantidade_empregados }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">manage_accounts</i>
                    </div>
                    <p class="card-category">Gestores Cadastrados</p>
                    <h3 class="card-title">{{ quantidade_gestores }}</h3>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</body>

</html>
